body {
    
}

.clase2 {
    background-color: chocolate;
    width: 100px;
    height: 100px;
}

#btnEnviar {
    width: 30%;
}

.divBtn{
    text-align: center;
}

.datosErroneos {
    color: #212529;
    background-color: #fff;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
}

.centrar {
    text-align: center;
    width: 30%;
}

.centrarTexto{
    text-align: center;
}

#imagenPerrito {
    min-width: 500px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}